apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Release.Name }}"
  labels:
    app: "{{ .Release.Name }}"
type: Opaque
stringData:
  HOOKD_PSK: "{{ .Values.hookd.psk }}"
  REST_PRE_SHARED_KEY: "{{ .Values.rest.psk }}"
  OAUTH_CLIENT_SECRET: "{{ .Values.oauth.clientSecret }}"
  STATIC_SERVICE_ACCOUNTS: {{ .Values.staticServiceAccounts | quote }}
  DATABASE_URL: "postgres://{{ .Values.database.user }}:{{ .Values.database.password }}@127.0.0.1:5432/{{ .Values.database.name }}?sslmode=disable"
  ZITADEL_KEY: {{ .Values.zitadel.key | quote }}
  AIVEN_TOKEN: "{{ .Values.aiven.token }}"
