apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}"
  labels:
    app: "{{ .Release.Name }}"
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
    - port: 3001
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: 3006
      targetPort: rest
      protocol: TCP
      name: rest
  selector:
    app: "{{ .Release.Name }}"
